:root {
    --light: white;
    --dark: black;
    --mid: grey;

    --primary-light: #f0c887;
    --primary: #EFB252;
    --primary-dark: #D39633;

    --secondary-light: #ce79d3;
    --secondary: #9d5ca1;
    --secondary-dark: #693E6C;
}

* {
    font-family: "Ubuntu Sans", sans-serif;
}

body {
    margin: 0;
}

#informations {
    background-color: var(--primary);
    padding: 4vw;
    justify-content: space-between;
    flex-direction: row;
    display: flex;
}

#informations:hover #informations-buttons button {
    opacity: 0.5;
}

#informations #informations-buttons button:hover {
    opacity: 0.8;
}

#informations-text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#informations-buttons {
    position: absolute;
    left: 1vw;
    top: 1vw;
}

#informations-buttons button {
    color: var(--light);
    font-size: 3vw;
    background-color: transparent;
    cursor: pointer;
    border: none;
    opacity: 0;
}

#full-name {
    color: var(--light);
    font-weight: bold;
    font-size: 6vw;
    margin: 0;
    padding: 0;
}

#profession {
    font-weight: bold;
    font-size: 3vw;
    line-height: 0;
    margin: 0;
    padding: 0;
}

#tagline {
    font-size: 1.5vw;
    padding: 0;
    margin: 0;
}

#avatar {
    width: 12vw;
    height: 12vw;
    align-self: self-end;
    border: .5vw solid var(--secondary-dark);
    border-radius: 2vw;
}

#contact {
    background-color: var(--primary-dark);
    display: grid;
    grid-auto-flow: column;
    grid-template-rows: repeat(5, 20%);
    grid-template-columns: 50% 50%;
    padding: 1vw 3vw;
}

#contact a {
    color: var(--light);
    text-decoration: none;
    font-size: 1.5vw;
}

#contact i {
    width: 2vw;
    font-size: 2vw;
    padding: .5vw;
}

/* @media (max-width: 800px) {
    #informations {
        flex-direction: column;
    }

    #avatar {
        width: 20vw;
        height: 20vw;
        align-self: center;
    }
} */

@media print {
    @page {
        size: A4;
        margin: 0;
    }

    body {
        -webkit-print-color-adjust: exact;
        print-color-adjust: exact;
    }
}

main {
    column-count: 2;
    column-gap: 20px;
    padding: 3vw;
}

main section {
    margin: 0 0 5vw 0;
}

main section h1 {
    font-size: 3vw;
    margin: 0 0 1vw 0;
    color: var(--secondary-dark);
    text-decoration: underline;
}

main section h2 {
    font-size: 2.5vw;
    font-weight: 800;
    margin: 1vw 0 0 0;
}

main section h3 {
    font-size: 2.5vw;
    margin: 0 2vw 2vw 0;
    font-weight: normal;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
}

main section h3 * {
    color: var(--secondary);
    font-size: 1.5vw;
}

main section li {
    margin: 0 -2vw;
    font-size: 2vw;
}

main section li::marker {
    color: var(--secondary-dark);
    font-size: 3vw;
}

main section p {
    color: var(--mid);
    font-size: 1.5vw;
    font-style: italic;
    margin: 0 2vw 2vw 0;
}

.chip-container {
    display: flex;
    flex-wrap: wrap;
    gap: 1vw;
}

.chip-container * {
    background-color: var(--primary-light);
    display: inline-flex;
    border-radius: 1vw;
    padding: 1vw;
    font-weight: bold;
    font-size: 1.5vw;
}
